*.pth
*.png
*.jpg
*.mp4
*.pickle
*.npz
*.gif
*.pyc
*.zip
 *.txt
!requirements.txt
*.ipynb_checkpoints
!table_empty.csv
*._csv
*.csv
*.ipynb
wandb/
__pycache__/
*.ini
*_vizdoom.ini
*wandb_config.yaml
*.vscode
.vscode
logdir/
_vizdoom.ini
9x9/
iterative_data/
MinigridMemory_data/

dreamerv3-torch/
OpenDoorsOrder/ 

!readme_img/
!RATE_scheme.png
!atari.png
!memory_envs.png
!mujoco.png 
!rate_dt.png
